@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Ad at the Right Time</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed metus eget magna mattis consectetur sed non eros. Nulla sed tempor nunc, ac vestibulum dolor. Nunc dictum arcu nec nisl ornare, eu bibendum velit pretium. Suspendisse aliquam semper vehicula.</p>
</div>


<div>@Html.Action("Search", "Businesses")</div>
