@model IEnumerable<AdAtTheRightTime.Models.Query>

@{
    ViewBag.Title = "ChooseQuery";
}



@if (ViewBag.Message == "empty")
{
    <table class="table">
        <tr>No Saved Search Strings</tr>
    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
               <h2>Choose a Search String</h2>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Queries)
                    @if (ViewBag.Role == "Business Admin")
                    {
                        @Html.ActionLink("Delete", "Delete", "Queries", new { id = item.QueryId }, null)
                    }
                    <p>choose this query(this will be a link)</p>
                </td>
            </tr>
        }

    </table>
}