@model IEnumerable<AdAtTheRightTime.Models.Query>

@{
    ViewBag.Title = "ViewQueries";
}

<h2>Saved Search Strings</h2>

@if (ViewBag.Message == "empty")
{
    <table class="table">
        <tr>No Saved Search Strings</tr>
    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Queries)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Queries)
                </td>
            </tr>
        }

    </table>
}



       
