@model IEnumerable<AdAtTheRightTime.Models.Query>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
<script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=pizza+milwaukee+wi,+pizza+madison+wi&tz=Etc/GMT%2B5&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=600&h=380"></script></div>
<div><img src="Sales/Chart" /></div>
<p>
    @Html.ActionLink("Create a New Search String", "Create")
</p>
<div>
    @Html.Action("ChooseQuery", "Queries")
</div>
