
@{
    ViewBag.Title = "Your Calendar";
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,adendaDay'
                },
                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: "/home/getevents/"
            });
        });
    </script>
}
<h2>@ViewBag.Title</h2>
<div id="calendar"></div>

