@model IEnumerable<AdAtTheRightTime.Models.Business>

@{
    ViewBag.Title = "ViewLikedBusinesses";
}


<table class="table">

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Check em Out!","Userview", "Businesses", new { id=item.BusinessId }, null) 
        </td>
    </tr>
}

</table>
 
