
@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

@if (ViewBag.allowManagerAdd == "Yes")
{
    <div>
        @Html.ActionLink("Add a Manager", "RegisterManager", "Settings")
    </div>
    <div>
        @Html.ActionLink("Create a New Query", "Create", "Queries")
    </div>

}
else
{
    <h2>Only Business Admins can add Managers.</h2>
}

