
@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

@if (ViewBag.allowManagerAdd == "Yes")
{
@Html.ActionLink("Add a Manager", "RegisterManager", "Settings")
}
else
{
    <h4>Hi, @User.Identity.Name - Only Business Admins can add Managers.</h4>
    @Html.ActionLink("See Active Businesses", "Index", "Businesses")
}

