@using Microsoft.AspNet.Identity
@model AdAtTheRightTime.Models.ApplicationUser

@{
    ViewBag.Title = "userView";
}

<h2>@User.Identity.GetUserName()</h2>

<div>
    <h4>Hello <strong>@User.Identity.GetUserName()</strong></h4>

</div>
<p>
     |
    @Html.ActionLink("Back to List", "Index")
</p>

